<div id="log_in" class="container-fluid">

  <h1>Log In</h1>
  <p id="alert"><%= alert %></p>
  <%= form_tag sessions_path do %>
    <div class="field row">
      <p class="col-md-1">Email: <%= text_field_tag :email, params[:email], required: true %></p>
    </div>
    <div class="field row">
      <p class="col-md-1">Password: <%= password_field_tag :password, required: true %></p>
    </div>
    <div class="actions row">
      <p class="col-md-1"><%= submit_tag "Log In" %></p>
    </div>
  <% end %>
</div>