<h1 class="headline">So <%= @user.name.capitalize %>, whats on your trading block?</h1>
<div class="container-fluid">
<div class="user-info">
    <% if current_user %>
        <p class="col-md-4">User Name: <%= @user.name.capitalize %></p>
        <p class="col-md-4">User Email: <%= @user.email %></p>
    <% end %>
</div>
<% @trades.each do |trade| %>
    <div class="user-trade">
        <p><%= image_tag trade.image %><br>
        <span class="trade-link"><%= link_to "View Trade", trade_path(trade) %></span></p>
    </div>
<% end %>
</div>