<h1 class="headline">Let's take a look at what is out there.</h1>
<div class="container-fluid">
	<div id="filter" class="filter-bar row">
		<p>View Trades by: </p>
		<p id="all" class="col-md-1"><% if params.has_key?(:filter) %><%= link_to "All", trades_path %><% else %><span>ALL</span><% end %></p>
		<p id="open" class="col-md-1"><% if !params.has_key?(:filter) || (params.has_key?(:filter) && params[:filter] == 'CLOSED' ) %><%= link_to "Open", trades_path(filter: 'OPEN') %><% else %><span>OPEN</span><% end %></p>
		<p id="closed" class="col-md-1"><% if !params.has_key?(:filter) || (params.has_key?(:filter) && params[:filter] == 'OPEN' ) %><%= link_to "Closed", trades_path(filter: 'CLOSED') %><% else %><span>CLOSED</span><% end %></p>
	</div>
	<div>
		<ul>
			<% @trades.each do |trade| %>
				<div class="single-trade">
					<p class="col-md-3"><b>Name: </b><br><%= trade.title %></p>
					<p class="col-md-3"><b>Description: </b><br><%= trade.description %></p>
					<p class="trade-image col-md-6"><%= image_tag trade.image.url, height: 300, width: 300 %><br>
					<%= link_to 'View Trade', trade_path(trade) %></p>
				</div>
			<% end %>
		</ul>
	</div>
</div>