<h1>this is where a user would create a new trade</h1>

<%= form_for @trade, html: { multipart: true } do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %><br>

  <%= form.label :description %>
  <%= form.text_field :description %><br>

  <%= form.file_field :image %><br><br>

  <%= form.submit 'Create Trade!' %>
<% end %>

