<h1>Trade should show up right here</h1>
<div class="container-fluid">
<% if @trade.closed %><h2>CLOSED</h2><% end %>
<p class="">Name of item: <%= @trade.title %></p>
<p class="">Item Description: <%= @trade.description %></p>
<span class=""><%= image_tag @trade.image.url%></span>


<% unless Offer.exists?(user: current_user, trade: @trade) %>
    <% if current_user && @trade.user != current_user && !@trade.closed %>
    <%= form_for [@trade, @offer] do |f| %>
        <div class="row">
        <p class="col-md-4">Offer Details: 
        <%= f.text_field :content %></p>
        </div>
        <span class="row"><%= f.file_field :image %></span>
        <span class="row"><%= f.submit 'Submit Offer!' %></span>
    <% end %>
    <% end %>
<% end %>

<ul>
    <% @trade.offers.each do |offer| %>
        <li>
            <p>Offer submitted by: <%= offer.user.name.capitalize %></p>
            <p>This is the offer: <%= offer.content %></p>
            <%= image_tag offer.image.url, height: 250, width: 250 %>
            <%#= link_to "Accept Offer", accept_path(@trade), method: :patch if @trade.user == current_user && !@trade.closed %>
        </li>
        
    <% end %>

</ul>

<p class="col-md-12"><%= link_to "Delete Trade", trade_path(@trade), method: :delete if @trade.user == current_user %></p>


</div>
