<!DOCTYPE html>
<html>
  <head>
    <title>Aberrant Barter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="logo"><%= image_tag("Aberrant.png", :alt => "main logo") %></div>
    <p> 
      <div class="later"><% if current_user %>
        Welcome, <%= current_user.name %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Log Out', session_path('dummy'), method: :delete %>&nbsp;&nbsp;|&nbsp;&nbsp;
      <% else %>
        <%= link_to 'Log In', login_path %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Sign Up', new_user_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
      <% end %>
        <a href="/">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/trade">Trade</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/profile">Profile</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    </p>
      </div>
    <header class="navbar">
<div class="navbar-class">
<div class="container">
      </div>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
